@import url(reset.css);
@import url(typography.css);
/* @import url(responsive.css); */
*{
    
    box-sizing: border-box;
    font-family: TwitterChirp, 'Times New Roman', Times, serif;
}

.clearfix{
    clear: both;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

/*                  Layout                      */
body{
    display: flex;

}
header{
    display: flex;     /*Therefore the children of the header will be flexed*/
    justify-content: flex-end;
    flex: 1 0 275px;
  
    background-color: black;
}
#main{
   
    flex:1 0 990px;
    background-color: yellow;
   
}
#header-wrapper{
    position: fixed;
    width: 275px;
    background-color: white;
    height: 100%;
    
}
#main-wrapper{
    background-color: orange;
    width: 990px;
    /* position: fixed; */

}
#bottom-navigation{
    visibility: hidden;
    position: fixed;
    height: 52px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
}
#div-top svg{
    height: 2rem;
    fill: rgb(29, 155, 240);
}
#div-top{
    width: 50px;
    height: 50px;
}
#header-wraper{
    text-align: center;
    height: 100%;
    
}
#div-2{
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#div-3{
    width: 251px;
    height: 423.5px;
}
#div-4{
    width: 251px;
    height: 64px;
    padding: 12px;
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
    
}
#space{
    height: 400px;
    width: 275px;
}
#div-4-1{
    flex-direction: row;
    justify-content: left;
    width:40px;
    height: 40px;
    
   

}
#div-4-2{
    justify-content: center;
    width: 157.70px;
    height: 40px;
}
#div-4-3{
    justify-content: right;
    width: 18.75px;
    height: 18.75px;

}
#nav-1 .nav{
    width: 251px;
    height: 50.25px;
    justify-content: space-around;
}
#nav-1 svg{
    height: 2rem;
    fill: black;
    color: black;
}
#nav-1 div{
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 12px;
   
}
#nav-1 div span{
    vertical-align:middle;
    text-decoration: none;
    color: black;
   font-size: 20px;
   font-family: TwitterChirp;
    bottom: 10px;
    left: 20px;
    position: relative;
 
    
  
    
}
#div-btn-tweet{
    width: 251px;
    height: 423.5px;
   
    color: white;
    font-family: TwitterChirp;
    font-size: 17px;
}
#div-btn-tweet div{
    background-color:rgb(29, 155, 240);
    border-radius: 50px;
    width: 225.89;
    height: 52px;
    margin: 4px 0;
    display: flex;
   
   

}
#div-btn-tweet div a{
  color: white;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
}
#div-middle #nav-1 .n:hover{
    background-color: lightgrey;
    border-radius: 30px;
    
}